* {
  /* Dimensions */
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* Typography */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 0.95rem;
}


button {
  /* border: none; */
  background: #265f82;
  color: white;
  padding: 0 0.625rem;
  transition: background .3s ease;
}

button:hover {
  border: none;
  background: #1F4C69;
  color: white;
  padding: 0.625rem;
}

button:disabled {
  cursor: default;
  background: #698ea5;
}

.chat__credits--owner-information {
  height: 10%;
  width: 100%;
}

@media Screen and (max-width: 600px) {
  * {
    font-size: 1rem;
  }

  .chat--sidebar {
    display: none;
  }

  .chat__footer {
    flex-direction: column;
  }

  .chat__footer .footer__form {
    margin-bottom: 0.625rem;
  }

  .chat__footer .footer__button--send-location {
    margin-right: 0;
  }
}
