* {
  /* Dimensions */
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* Typography */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 0.95rem;
}



@media Screen and (max-width: 600px) {
  * {
    font-size: 1rem;
  }

  .chat--sidebar {
    display: none;
  }

  .chat__footer {
    flex-direction: column;
  }

  .chat__footer .footer__form {
    margin-bottom: 0.625rem;
  }

  .chat__footer .footer__button--send-location {
    margin-right: 0;
  }
}
