* {
  /* Dimensions */
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* Typography */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 0.95rem;
}

.chat {
  /* Dimensions */
  height: 100vh;

  /* Color */
  background-color: #e1e1e1;
  color: #0a151f;

  /* Position */
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chat__header--room {
  /* Position */
  text-align: center;

  /* Typography */
  font-weight: 600;
  font-size: 1.5rem;
}

ul, li {
  list-style-position: inside;
}

.chat__main--container {
  /* Dimensions */
  height: 90%;
  /* width: 100%; */
  width: 80%;

  /* Position */
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
}

.chat--sidebar {
  /* Color */
  background: -moz-linear-gradient(125deg, rgba(39,107,130,1) 0%, #315481 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(49,84,129,1)), color-stop(100%, rgba(39,107,130,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(125deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* ie10+ */
  background: linear-gradient(325deg, rgba(39,107,130,1) 0%, rgba(49,84,129,1) 100%); /* w3c */

  /* Dimensions */
  /* height: 100vh; */
  /* width: 16.25rem; */
  height: 90%;
  width: 20%;

  /* Position */
  overflow-y: scroll;
}

.chat--sidebar h1 {
  /* Color */
  color: #e6eaee;

  /* Position */
  margin: 0.625rem 1.25rem;
  text-align: left;
}

.chat--sidebar ul {
  list-style-type: none;
}

.chat--sidebar li {
  /* Color */
  background: #e6eaee;

  /* Dimensions */
  border-radius: 0.31rem;
  padding: 0.625rem;
  margin: 0.625rem;

  /* Outline */
  border: 0.06rem solid #e1e1e1;
}

.chat__messages {
  /* Dimensions */
  flex-grow: 1;
  padding: 0.625rem;

  /* Position */
  /* overflow-y: auto; */
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  /* Style */
  list-style-type: none;
}

.message {
  padding: 0.625rem;
}

.message__title {
  /* Dimensions */
  margin-bottom: 0.31rem;

  /* Position */
  display: flex;
}

.message__title h1 {
  /* Dimensions */
  margin-right: 0.625rem;

  /* Typography */
  font-weight: 600;
}

.message__title span {
  color: #999;
}

.map--container {
  width: 22.5rem;
}

iframe {
  /* Dimensions */
  height: 21.9rem;
  width: 21.9rem;
}

.chat__footer {
  /* Color */
  background: #e6eaee;

  /* Dimensions */
  padding: 0.625rem;
  /*height: 60px;*/
  flex-shrink: 0;

  /* Position */
  display: flex;
}

.chat__footer form {
  display: flex;
  flex-grow: 1;
}

.chat__footer form * {
  margin-right: 0.625rem;
}

.chat__footer .footer__button--submit {
  /* Dimensions */
  padding: 0 0.3rem;
  flex-grow: 1;
}

.footer__button--submit,
.footer__button--send-location {
  /* Dimensions */
  border-radius: 0.6rem;

  /* Outline */
  border: none;

  /* Style */
  cursor: pointer;

  /* Typography */
  font-size: 1rem;
}

button {
  /* border: none; */
  background: #265f82;
  color: white;
  padding: 0 0.625rem;
  transition: background .3s ease;
}

button:hover {
  border: none;
  background: #1F4C69;
  color: white;
  padding: 0.625rem;
}

button:disabled {
  cursor: default;
  background: #698ea5;
}

.chat__credits--owner-information {
  height: 10%;
  width: 100%;
}

@media Screen and (max-width: 600px) {
  * {
    font-size: 1rem;
  }

  .chat--sidebar {
    display: none;
  }

  .chat__footer {
    flex-direction: column;
  }

  .chat__footer .footer__form {
    margin-bottom: 0.625rem;
  }

  .chat__footer .footer__button--send-location {
    margin-right: 0;
  }
}
